a:hover {
    background-color:green;
}
th {
    color: white;
}
caption {
    color: Maroon;
}
td {
   font-style:italic;
    color: cyan;
}
table {
      background-color:green;
}     

ol {
    color: Navy;
    font-weight: bold;
    font-style: italic;
}