.header {		   
       color: navy;
}
.footer {
        color: orange;
        text-align: center;
}
.header li {
         display: inline-block;
         margin-right: -4px;
         width:75px;
         
}